.contacts {
  background-color: white;
}

.contacts__text {
  display: flex;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  font-family: @arial;
  //padding: 30px 20px 25px 20px;
  // box-sizing: border-box;
}

.contacts__title {
  font-family: @oswald-regular;
  font-size: 16px;
  line-height: 18px;
  font-style: normal;
  font-weight: normal;
  color: @black;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  width: 140px;
}