.contacts {
  background-color: @grey;

  &--index {
    background-color: @white;
  }
}

.contacts__header {
  display: flex;
  padding: 30px 20px 25px 20px;
  box-sizing: border-box;
}

.contacts__title {
  font-family: @oswald-regular;
  font-size: 16px;
  line-height: 20px;
  color: @black;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  width: 140px;
}

.contacts__text {
  font-family: @arial;
  font-size: 14px;
  line-height: 20px;
  color: @black;
  margin-left: auto;
  margin-top: 0;
  margin-bottom: 0;
  width: 140px;

  br {
    display: none;
  }
}

@media (min-width: @tablet-width) {
  .contacts__header {
    padding: 60px 70px 56px;
  }

  .contacts__title {
    font-size: 20px;
    line-height: 25px;
    width: 170px;
  }

  .contacts__text {
    font-size: 16px;
    width: 170px;
    text-align: right;

    br {
      display: inline;
    }
  }

  .contacts__city {
    margin-top: 20px;
    display: block;
  }

  .contacts__map {
    background-image: url("../img/bg-map-tablet@1x.png");
    width: 100%;
    height: 400px;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-map-tablet@2x.png");
      background-size: 708px auto;
    }
  }
}

@media (min-width: @desktop-width) {
  .contacts {
    position: relative;
  }

  .contacts__header {
    position: absolute;
    z-index: 2;
    box-sizing: border-box;
    width: 570px;
    padding: 65px 75px;
    top: 98px;
    background-color: #ffffff;
  }

  .contacts__text {
    text-align: left;
  }
}
