.example {
  background-color: @grey;
  padding: 17px 0 36px;
}

.example__subject {
  font-family: @oswald-regular;
  font-size: 36px;
  line-height: 60px;
  color: @black;
  font-weight: normal;
  margin: 0;
  margin-bottom: 23px;
}

.example__text {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: @black;
  margin: 0;
  margin-bottom: 25px;
  padding-right: 10px;
}

@media (min-width: @tablet-width) {
  .example {
    padding: 43px 0 68px;
    background-color: @white;
    background-image: linear-gradient(to right, @grey 50%, #eaeaea 50%),
      linear-gradient(to right, @grey 50%, #eaeaea 50%);
    background-size: @tablet-width calc(100% - 619px), 100% calc(100% - 619px);
    background-position: bottom;
    background-repeat: no-repeat;
  }

  .example__subject {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 64px;
  }

  .example__text {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 53px;
  }
}

@media (min-width: @desktop-width) {
  .example {
    padding: 15px 0 0;
    background-image: linear-gradient(to right, @grey calc(100% - 285px), #eaeaea calc(100% - 325px)),
      linear-gradient(to right, @grey 50%, #eaeaea 50%);
    background-size: @desktop-width calc(100% - 206px), 100% calc(100% - 206px);
  }

  .example__wrapper {
    display: flex;
    justify-content: space-between;
  }

  .example__desktop-column-wrapper {
    width: 435px;
  }

  .example__subject {
    margin-bottom: 146px;
    padding-top: 56px;
  }

  .example__text {
    margin-bottom: 68px;
    padding-right: 0;
  }
}

@media (min-width: @tablet-width) and (max-width: @desktop-width - 1) {
  .example {
    border-top: 1px solid #d9d9d9;
  }
}
